* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html, body {
    width: 100%;
    height: 100%;
    color: white;
}
.contact {
    background-image: url('https://cdn.pixabay.com/photo/2023/10/16/15/52/business-8319519_1280.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.contact-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header {
    background-color: #111;
    padding: 1rem;
}
.header h1 {
    color: white;
    font-size: 2.8rem;
    font-weight: 700;
    opacity: .7;
    text-align: center;
}
form {
    background-color: #111;
    width: 35rem;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: .9;
    border-radius: 2.5rem;
    margin-top: 3rem;
    padding: 2rem;
    font-size: 1.4rem;
}
form h1 {
    text-align: center;
    margin-bottom: 3rem;
}
form input {
    width: 90%;
    height: 12%;
    border: none;
    font-size: 1.4rem;
}
form textarea {
    width: 90%;
    height: 12%;
    border: none;
    font-size: 1.4rem;
}
button[type="submit"] {
    width: 90%;
    height: 12%;
    margin-top: 3rem;
    background-color: #212121;
    color: #fff;
    border: none;
    font-size: 1.5rem;
    font-weight: 700;
}
button[type="submit"]:hover {
    opacity: .6;
    cursor: pointer;
}
h2 {
    font-size: 2rem;
}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
span {
    background-color: #111;
    border-radius: 50%;
    padding: .4rem;
}