/* Main styling file which will contain the styles which are common all over the website. */
/* Written by : Ali hassan and Ahmed Ali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body,html{
    width: 100%;
    height: 100%;
    background-color: black;
}
.no-scroll-x{
    overflow-x: hidden;
}